html {
    font-size: 16px;
}

p, h2, h3, h4, h5, h6 {
    font-family: "Helvetica", "Arial", sans-serif;
}

body {
    background-color: #F1F2F6;
}

.card {
    padding: 1.25rem;
    margin: 1.25rem 2.5rem;
    min-width: 20rem;
    width: 20%;
    display: inline-block;
    min-height: 23.125rem;
    border-radius: 1.25rem;
    background: #F1F2F6;
    box-shadow: 16px 16px 32px #dbdce0,
                -16px -16px 32px #ffffff;
    transition: 0.4s;
}

.card:hover {
    translate: 0 -10px;
}

div.codecademy {
    margin: 3.125rem 0 0 1.563rem;
    display: flex;
    flex-wrap: wrap;
}

.container-card {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    justify-content: flex-start;
}

.card-title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #9fa0a3;
    margin: 15px 0 0 10px;
}

.card-proyect {
    min-height: 10.625rem;
    border-radius: 2.5rem;
    background: #e0e0e0;
    box-shadow: inset -16px -16px 82px #eff0f4,
    inset 16px 16px 82px #f3f4f8;
}

.card-body {
    margin: 13px 0 0 10px;
    color: rgb(31, 31, 31);
    font-size: 15px;
}

.name-proyect {
    font-size: 26px;
    font-weight: 600;
    color: #000000;
    margin: 15px 15px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
}

.name-proyect:hover {
    cursor: pointer;
}

.name-proyect p {
    color: #444;
}

@media only screen and (max-width: 940px) {
    .container-card {
        width: 90%;
        justify-content: center;
    }
}