* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/** Todo lo del header **/

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px;
    height: 69px;
}

.header img {
    height: 50px;
    opacity: 0.6;
}

.header .menu ul {
    display: flex;
    list-style: none;
    gap: 30px;
    opacity: 0.6;
}

.header .menu ul li a {
    color: seashell;
    text-decoration: underline;
    transition: transform 0.2s, opacity 0.2s;
    display: inline-block;
}

.header .menu ul li a:hover {
    opacity: 1;
    transform: scale(1.1);
}

/** Todo lo del section de mission **/

.container-mission {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    width: 100%;
    opacity: 0.6;
}

.mission {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    max-width: 1200px;
    height: 700px;

    /* Para la imagen de fondo */

    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg?_gl=1*1z0h9go*_gcl_au*MjAwNDk4NDYxNS4xNzM3Nzc5ODI2*_ga*NTE0NjExNzAyNi4xNzM3Nzc5ODE4*_ga_3LRZM6TM9L*MTc0MDAwNzkxMS43Ny4xLjE3NDAwMDc5MTguNTMuMC4w");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.mission-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000;
    width: 100%;
    padding: 15px;
}

.mission-text h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.mission-text h4 {
    font-size: 22px;
}

/** Todo lo del section de featured tea **/

.section-tea {
    text-align: center;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin-top: 70px;
    opacity: 0.6;
}

.section-tea h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

.section-tea h4 {
    font-size: 22px;
    margin-bottom: 20px;
}

.teas {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

.card-tea {
    display: flex;
    flex-direction: column;
}
.card-tea img {
    max-height: 200px;
    max-width: 300px;
    margin-bottom: 10px;
}

/** Todo lo del section de locations **/

.container-locations {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
    max-width: 1200px;
    width: 100%;
    height: 100%;
    margin-top: 70px;
    opacity: 0.6;
}

.locations {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    /* Para la imagen de fondo */
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*1umzvyt*_gcl_au*MjAwNDk4NDYxNS4xNzM3Nzc5ODI2*_ga*NTE0NjExNzAyNi4xNzM3Nzc5ODE4*_ga_3LRZM6TM9L*MTc0MDA4NDIxNS44Mi4xLjE3NDAwODQyMjIuNTMuMC4w");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.locations h2 {
    font-size: 40px;
    margin-bottom: 15px;
    margin-top: 60px;
    background: transparent;
}

.locations h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 9px;
}

.row-locations {
    display: flex;
    flex-direction: row;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1200px;
    background-color: transparent;
    margin-bottom: 90px;
}

.card-locations {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
    flex-wrap: wrap;
    min-width: 300px;
    min-height: 300px;
    margin: 20px;
    background-color: black;
}

/** Todo lo del section de contact **/

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    min-height: 200px;
    opacity: 0.6;
}

.contact h2 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}

/** Todo lo del footer **/

footer {
    display: flex-end;
    justify-content: left;
    align-items: center;
    padding: 20px;
    opacity: 0.6;
    color: seashell;
}